.container {
  .networkBannerWrapper {
    padding: var(--container-padding);
    background-color: var(--theme-white);
    border-radius: var(--border-radius);
  }
  .networkBannerBottomWrapper {
    padding: var(--container-padding);
    background-color: var(--theme-white);
    border-radius: var(--border-radius);
    margin-top: 3px;
  }
  .small {
    font-size: 0.56rem;
  }

  .smallText {
    font-size: 0.8rem;
  }

  .colContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .flexContentGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
   
  }
  .flexContent {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .flexDescr {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .iconWrapper {
    background-color: var(--theme-gray-60);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
  }
.spacing{
  border: .5px solid var(--theme-gray-200);
  margin-block: 12px;
}
  .increase {
    color: var(--theme-green-600);
  }

  .decrease {
    color: var(--theme-red-900);
  }

  .chartWrapper {
    border-color: var(--theme-gray-200);
    border-style: solid;
    border-width: 1px;
  }
}